        <p class="line"> Created At: <span style="text-transform:uppercase">
            <%= snippet.createdAt %>
          </span> </p>
        <p class="line"> Updated At: <span style="text-transform:uppercase">
            <%= snippet.updatedAt %>
          </span> </p>